@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* Header Starts Here*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 5% 2% 5%;
}

.logo {
    width: 10%;
    cursor: pointer;
}

nav {
    width: 50%;
}

nav .header-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon, .close-icon {
    display: none;
    cursor: pointer;
}

nav a {
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.0015em;
text-align: left;
color: rgba(42, 42, 42, 1);
text-transform: uppercase;
transition: ease 0.3s;
}

nav a:hover {
    color: #EE9A09
}

.active {
    color: #EE9A09;
    transition: 0.3s ease;
}

.active:hover {
    border-top: 1px solid #EE9A09;
    border-bottom: 1px solid #EE9A09;
    padding-bottom: 2%;
    padding-top: 2%;
}

.search-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding: 1%;
    border: 1px solid #EE9A09CC;
    border-radius: 4px;
}

.search-input img {
    width: 6%;
    margin-right: 1%;
    cursor: pointer;
}

.search-input input {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    border: none;
    outline: 0;
    width: 80%;
}

.header-btn {
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 4px;
    background: #EE9A09;
    color: #FFFFFF;
    border: none;
    transition: ease 0.3s;
}

.header-btn:hover {
    background: #FFFFFF;
    color: #EE9A09;
    border: 1px solid #EE9A09;
}
/* Header Ends Here*/

.community-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 5%;
}

.community-hero-img {
    width: 45%;
}

.community-hero-txt {
    width: 50%;
}

.community-hero-txt h1 {
font-size: 48px;
font-weight: 700;
line-height: 68px;
letter-spacing: 0.0025em;
text-align: left;
color: rgba(42, 42, 42, 1);
}

.community-hero-txt p {
font-size: 20px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0.0015em;
text-align: justified;
color: rgba(42, 42, 42, 1);
}

.community-members-search {
    padding: 1% 5%;
    background: rgba(250, 225, 181, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.community-members-search label {
font-size: 34px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0.0025em;
text-align: left;
color: rgba(238, 154, 9, 1);
margin-right: 10%;
vertical-align: middle;
}

.community-members-search select {
    width: 13%;
    padding: 1% 0.5%;
    border-radius: 4px;
    background: rgba(238, 154, 9, 1);
    border: none;
    outline: 0;
    margin-right: 8%;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.015em;
    color: rgba(255, 255, 255, 1);

}

.community-members-search input {
    width: 23%;
    padding: 1% 0.5%;
    border-radius: 4px;
    background: rgba(238, 154, 9, 1);
    border: none;
    outline: 0;
    vertical-align: middle;
}

.community-members-search ::placeholder {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.community-members-post {
    display: flex;
    align-items: center;
    gap: 1%;
    margin: 3% 5% 1% 5%;
}

.community-members-post img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    object-fit: cover;
}

.community-members-post input {
    width: 850px;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.0015em;
    text-align: left;
    color: rgba(211, 211, 211, 1);
    padding: 16px 20px;
    border: 1px solid rgba(238, 154, 9, 1);
}

.community-media {
    display: flex;
    align-items: center;
    margin-left: 11%;
    margin-bottom: 2%;
}

.community-media-live-video a, .community-media-photo-video a, .community-media-reaction a {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 5%;
    color: rgba(42, 42, 42, 1);
}

.community-media-live-video img, .community-media-photo-video img, .community-media-reaction img {
    width: 20%;
}

.community-users {
    display: flex;
    /* align-items: center; */
    gap: 1%;
    margin: 1% 5%;
}

.community-users-pic {
    width: 70px;
    border-radius: 35px;
    /* gap: 1%;
    margin: 1% 3%; */
}

.community-users-txt {
    border: 1px solid rgba(238, 154, 9, 1);
    width: 964px;
    height: 275px;
    border-radius: 4px;
    /* padding: 5% auto; */
}

.community-users-txt p {
    font-weight: 500;
    font-size: 24px;
    Line-height: 34px;
    color: rgba(42, 42, 42, 0.7);
    margin: 10% 5%;
}

.community-icons {
    display: flex;
    align-items: center;
    gap: 8%;
    margin-left: 11%;
    margin-bottom: 2%;
}

.community-icons-info a {
    display: flex;
    align-items: center;
    gap: 5%;
    color: rgba(42, 42, 42, 0.7);
}

.community-icons-info img {
    width: 20%;
}

.pages-nav {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 3%;
    gap: 3%;
}

.pages-nav img {
    width: 12px;
}

.pages-nav .next-page-link {
    border: 1px solid rgba(238, 154, 9, 1);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages-nav a {
    color: rgba(42, 42, 42, 1);
    font-size: 18px;
    font-weight: 500;
}


/*Footer starts Here*/
footer {
    display: flex;
    justify-content: space-between;
    background: #D3D3D3;
    padding: 3% 5%;
}

.logo-socials {
    width: 40%;
}

footer .logo {
    width: 45%;
    margin-bottom: 10%;
}

.socials {
    width: 45%;
    display: flex;
    gap: 5%;
}

.footer-nav {
    display: flex;
    width: 85%;
}
.footer-links {
    width: 40%;
}

.footer-links h3 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.0025em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 10%;
}

.footer-links a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.0015em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 7%;
}

.footer-menus {
    display: flex;
    flex-direction: column;
}

.subscribe {
    width: 50%;
}

.subscribe p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.0015em;
    text-align: justify;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 7%;
}

.subscribe input {
    padding: 2% 5%;
    border-radius: 4px 0 0 4px;
    border: 1px solid #2A2A2A;
}

.subscribe ::placeholder {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(42, 42, 42, 0.7);
    vertical-align: middle;
}

.subscribe a {
    padding: 1.5% 5%;
    border-radius: 0 4px 4px 0;
    border: none;
    color: #FFFFFF;
    background-color: #2A2A2A;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    margin-left: -3%;
    vertical-align: middle;
    transition: 0.2s ease;
}

.subscribe a:hover {
    color: #2A2A2A;
    background-color: #FFFFFF;
    border: 1px solid #2A2A2A;
}
/*Footer Ends Here*/