@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.community-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 5%;
}

.community-hero-img {
    width: 45%;
}

.community-hero-txt {
    width: 50%;
}

.community-hero-txt h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0.0025em;
    color: rgba(42, 42, 42, 1);
}

.community-hero-txt p {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.0015em;
    color: rgba(42, 42, 42, 1);
}

.community-members-search {
    padding: 1% 5%;
    background: rgba(250, 225, 181, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}

.community-members-search label {
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: rgba(238, 154, 9, 1);
    margin-right: 10%;
    vertical-align: middle;
}

.community-members-search select {
    width: 13%;
    height: 30px;
    padding: 0.5%;
    border-radius: 4px;
    background: rgba(238, 154, 9, 1);
    border: none;
    outline: 0;
    margin-right: 8%;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.015em;
    color: rgba(255, 255, 255, 1);

}

.community-members-search input {
    width: 23%;
    height: 30px;
    padding: 0.8%;
    border-radius: 4px;
    background: rgba(238, 154, 9, 1);
    border: none;
    outline: 0;
    vertical-align: middle;
}

.community-members-search ::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.015em;
    color: rgba(255, 255, 255, 1);
}

.community-members {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 2%;
}

.community-members-post {
    display: flex;
    align-items: center;
    gap: 2%;
    width: 80%;
}

.community-members-post img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
}

.community-members-post input {
    width: 80%;
    height: 40px;
    padding: 16px 20px;
    border: 1px solid rgba(238, 154, 9, 1);
}

.community-members-post ::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.0015em;
    color: rgba(211, 211, 211, 1);
}

.community-media {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0% 27% 3% 0%;
}

.community-media-live-video a, .community-media-photo-video a, .community-media-reaction a {
    display: flex;
    align-items: center;
    gap: 5%;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.0015em;
    text-align: left;
    color: rgba(43, 43, 43, 0.6);
}

.community-media-live-video img, .community-media-photo-video img, .community-media-reaction img {
    width: 15%;
}

.community-users {
    display: flex;
    gap: 2%;
    margin: 0% 5%;
    width: 80%;
}

.community-users-profile-info {
    display: none;
}

.community-users-profile-pic {
    width: 60px;
    border-radius: 30px;
}

.community-users-txt {
    border: 1px solid rgba(238, 154, 9, 1);
    width: 100%;
    height: 180px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 4%;
}

.community-users-txt p {
    font-weight: 500;
    font-size: 22px;
    Line-height: 34px;
    color: rgba(42, 42, 42, 0.6);
}

.community-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 0 2% 0;
    width: 67%;
}

.community-icons-info a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.community-icons-info p {
    font-size: 16px;
    font-weight: 700;
    line-height: 4px;
    letter-spacing: 0.0015em;
    color: rgba(42, 42, 42, 1);
}

.community-icons-info img {
    width: 30%;
}

.pages-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;
    margin: 6% 0 3% 0;
}

.pages-nav .link-page {
    width: 5%;
}

.pages-nav .next {
    width: 13%;
}

.pages-nav .page-num {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90%;
}

.page-num a {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: rgba(42, 42, 42, 1);
}

.page-num .active-page {
    color: rgba(238, 154, 9, 1);
}

@media screen and (max-width: 600px) {
    .community-hero-txt h1 {
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.15%;
    }

    .community-hero-txt p {
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        margin-top: 2%;
    }

    .community-members-search {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
        box-shadow: none;
        padding: 0 5%;
    }

    .community-members-search label {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.5%;
        margin-right: 0;
    }

    .community-members-search select {
        width: 20%;
        padding: 0.1% 0.5%;
        border-radius: 2px;
        margin-right: 0;
        font-size: 10px;
        font-weight: 400;
    }

    .community-members-search input {
        width: 25%;
        padding: 0.5% 1%;
        border-radius: 2px;
    }
    
    .community-members-search ::placeholder {
        font-size: 10px;
        font-weight: 400;
    }

    .community-members-post {
        justify-content: center;
        gap: 4%;
        margin-top: 2%;
        width: 100%;
    }

    .community-members-post img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        vertical-align: middle;
    }

    .community-members-post input {
        width: 55%;
        height: 30px;
        padding: 3%;
        border: 1px solid rgba(238, 154, 9, 1);
        border-radius: 2px;
        vertical-align: middle;
    }

    .community-members-post ::placeholder {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.0015em;
        text-align: left;
        color: rgba(211, 211, 211, 1)
    }

    .community-media {
        justify-content: center;
        margin: 2% 5% 2% 0;
        width: 65%;
    }

    .community-media-live-video a, .community-media-photo-video a, .community-media-reaction a {
        justify-content: center;
        gap: 6%;
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
    }

    .community-media-live-video img, .community-media-photo-video img, .community-media-reaction img {
        width: 15%;
    }

    .community-users {
        flex-direction: column;
        justify-content: start;
        border: 1px solid rgba(211, 211, 211, 1);
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
        padding: 2%;
    }

    .community-users-profile {
        display: flex;
        align-items: center;
        gap: 3%;
    }

    .community-users-profile-pic {
        width: 10%;
        border-radius: 35px;
    }

    .community-users-profile-info {
        display: block;
    }

    .community-users-profile-info h5 {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.015em;
        color: rgba(42, 42, 42, 1);
    }

    .community-users-profile-info p {
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        color: rgba(42, 42, 42, 0.3);
    }
    
    .community-users-txt {
        width: 100%;
        height: 1%;
        border: none;
        padding: 0;
    }
    
    .community-users-txt p {
        font-weight: 400;
        font-size: 12px;
        Line-height: 16px;
        color: rgba(42, 42, 42, 0.7);
    }

    .community-icons {
        width: 83%;
    }

    .community-icons-info p {
        font-size: 10px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.015em;
        color: rgba(42, 42, 42, 0.7);
    }

    .community-icons-info img {
        width: 20%;
    }

    .pages-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25%;
        margin: 6% 0 3% 0;
    }
    
    .pages-nav .link-page {
        width: 4%;
    }
    
    .pages-nav .next {
        width: 10%;
    }
    
    .pages-nav .page-num {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90%;
    }
    
    .page-num a {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        color: rgba(42, 42, 42, 1);
    }
    
    .page-num .active-page {
        color: rgba(238, 154, 9, 1);
    }
    /* Hamburger Responsive Clicks End Here*/
}

@media screen and (max-width: 990px) and (min-width: 601px) {
    .community-hero-txt h1 {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.15%;
    }

    .community-hero-txt p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        margin-top: 2%;
    }

    .community-members-search {
        padding: 0 5%;
    }

    .community-members-search label {
        font-size: 14px;
        margin-right: 3%;
    }

    .community-members-search select {
        width: 20%;
        height: 30px;
        padding: 1% 1%;
        margin-right: 5%;
        font-size: 12px;
    }
    
    .community-members-search input {
        width: 23%;
        height: 30px;
    }
    
    .community-members-search ::placeholder {
        font-size: 12px;
    }
        
    .community-members-post img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    
    .community-members-post input {
        width: 80%;
        height: 40px;
        padding: 16px 20px;
        border: 1px solid rgba(238, 154, 9, 1);
    }
    
    .community-members-post ::placeholder {
        font-size: 14px;
    }
    
    .community-media {
        width: 70%;
        margin-left: 20%;
    }
    
    .community-media-live-video a, .community-media-photo-video a, .community-media-reaction a {
        font-size: 14px;
    }
    
    .community-media-live-video img, .community-media-photo-video img, .community-media-reaction img {
        width: 10%;
    }
    
    .community-users {
        display: flex;
        gap: 2%;
        margin: 1% 5%;
        width: 80%;
    }
    
    .community-users-profile-info {
        display: none;
    }
    
    .community-users-profile-pic {
        width: 40px;
        border-radius: 30px;
    }
    
    .community-users-txt {
        border: 1px solid rgba(238, 154, 9, 1);
        width: 100%;
        height: 180px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8% 4%;
    }
    
    .community-users-txt p {
        font-size: 16px;
    }
    
    .community-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2%;
        width: 67%;
    }
    
    .community-icons-info a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
    }
    
    .community-icons-info p {
        font-size: 12px;
        font-weight: 700;
        line-height: 4px;
        letter-spacing: 0.0015em;
        color: rgba(42, 42, 42, 1);
    }
    
    .community-icons-info img {
        width: 20%;
    }
    
    .pages-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30%;
        margin: 6% 0 3% 0;
    }
    
    .pages-nav .link-page {
        width: 3%;
    }
    
    .pages-nav .next {
        width: 8%;
    }
    
    .pages-nav .page-num {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90%;
    }
    
    .page-num a {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        color: rgba(42, 42, 42, 1);
    }
    
    .page-num .active-page {
        color: rgba(238, 154, 9, 1);
    }
}