@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
    max-width: 1440px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* Header Starts Here*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 5% 2% 5%;
}

.logo {
    width: 10%;
}

nav {
    width: 50%;
}

nav .header-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon, .close-icon {
    display: none;
    cursor: pointer;
}

nav a {
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.0015em;
text-align: left;
color: rgba(42, 42, 42, 1);
text-transform: uppercase;
}

nav .active {
    color: #EE9A09;
}

.search-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    border: 1px solid #EE9A09CC;
    border-radius: 4px;
}

.search-input img {
    width: 10%;
    cursor: pointer;
}

.search-input input {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    border: none;
    outline: 0;
    padding: 1% 3%;
}

header button {
    padding: 12px 20px;
    border-radius: 4px;
    background: #EE9A09;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
/* Header Ends Here*/

.community-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 5%;
}

.community-hero-img {
    width: 45%;
}

.community-hero-txt {
    width: 50%;
}

.community-hero-txt h1 {
font-size: 48px;
font-weight: 700;
line-height: 68px;
letter-spacing: 0.0025em;
text-align: left;
color: rgba(42, 42, 42, 1);
}

.community-hero-txt p {
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.0015em;
text-align: justified;
color: rgba(42, 42, 42, 1);
}

.community-members-search {
    padding: 1% 5%;
    background: rgba(250, 225, 181, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.community-members-search label {
font-size: 34px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0.0025em;
text-align: left;
color: rgba(238, 154, 9, 1);
margin-right: 10%;
vertical-align: middle;
}

.community-members-search select {
    width: 13%;
    /* height: 1%; */
    padding: 1% 0.5%;
    border-radius: 4px;
    background: rgba(238, 154, 9, 1);
    border: none;
    outline: 0;
    margin-right: 9%;
    vertical-align: middle;

    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.015em;
    /* text-align: left; */
    color: rgba(255, 255, 255, 1);

}

.community-members-search input {
    width: 23%;
    padding: 1% 0.5%;
    border-radius: 4px;
    background: rgba(238, 154, 9, 1);
    border: none;
    outline: 0;
    vertical-align: middle;
}

.community-members-search ::placeholder {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.community-members-post {
    display: flex;
    align-items: center;
    gap: 1%;
    margin: 1% 5%;
}

.community-members-post img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    object-fit: cover;
}

.community-members-post input {
    width: 568px;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.0015em;
    text-align: left;
    color: rgba(211, 211, 211, 1);
    padding: 16px 20px;
}


/*Footer starts Here*/
footer {
    display: flex;
    justify-content: space-between;
}

.logo-socials {
    width: 40%;
}

footer .logo {
    width: 45%;
    margin-bottom: 3%;
}

.socials {
    width: 10%;
    display: flex;
    gap: 15%;
}

.footer-nav {
    display: flex;
    width: 85%;
}
.footer-links {
    width: 40%;
}

.footer-links h3 {
    font-family: Lato;
    font-size: 34px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 6%;
}

.footer-links a {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.0015em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 1%;
}

.footer-menus {
    display: flex;
    flex-direction: column;
}

.subscribe {
    width: 45%;
}

.subscribe p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.0015em;
    text-align: justify;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 5%;
}

.subscribe input {
    /* width: 48%; */
    padding: 5px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #2A2A2A;
}

.subscribe ::placeholder {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(42, 42, 42, 1);
}

.subscribe a {
padding: 5px;
border-radius: 0px 4px 4px 0px;
border: 1px solid #2A2A2A;
color: #FFFFFF;
background-color: #2A2A2A;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: -0.02em;
text-align: center;
margin: -2%;
}
/*Footer Ends Here*/