/* Header Starts Here*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
    width: 95%;
}

.header-logo {
    width: 10%;
    cursor: pointer;
}

nav {
    width: 50%;
    margin: 0 3% 0 20%;
}

nav .header-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon, .close-icon {
    display: none;
    cursor: pointer;
}
.hamburger-menu {
    display: none;
}

nav a {
font-size: 16px;
font-weight: 500;
letter-spacing: 0.0015em;
text-align: left;
color: rgba(42, 42, 42, 1);
text-transform: uppercase;
text-decoration: none;
transition: ease 0.3s;
}

nav a:hover {
    color: #EE9A09
}

.active {
    color: #EE9A09;
    transition: 0.3s ease;
}

.active:hover {
    border-top: 1px solid #EE9A09;
    border-bottom: 1px solid #EE9A09;
    padding-bottom: 2%;
    padding-top: 2%;
}

.search-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding: 1%;
    border: 1px solid #EE9A09CC;
    border-radius: 4px;
    margin-right: 1%;
}

.search-input img {
    width: 6%;
    margin-right: 1%;
    cursor: pointer;
}

.search-input input {
    border: none;
    outline: 0;
    width: 70%;
}

.search-input ::placeholder {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: rgba(42, 42, 42, 1);
}

.header-btn {
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    background: #EE9A09;
    color: #FFFFFF;
    border: none;
    transition: ease 0.3s;
}

.header-btn:hover {
    background: #FFFFFF;
    color: #EE9A09;
    border: 1px solid #EE9A09;
}

.header-footer-click {
    display: none;
}
/* Header Ends Here*/


/*Footer starts Here*/
footer {
    display: flex;
    justify-content: space-between;
    background: #D3D3D3;
    padding: 3%;
}

.logo-socials {
    width: 40%;
}

.footer-logo {
    width: 45%;
    margin-bottom: 4%;
}

.socials {
    width: 45%;
    display: flex;
    gap: 5%;
}

.footer-nav {
    display: flex;
    width: 80%;
}
.footer-links {
    width: 40%;
}

.footer-links h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.0025em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 10%;
    text-transform: uppercase;
}

.footer-links a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.0015em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 8%;
}

.footer-menus {
    display: flex;
    flex-direction: column;
}

.subscribe {
    width: 50%;
}

.subscribe p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.0015em;
    text-align: justify;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 12%;
}

.subscribe input {
    padding: 2.1% 0%;
    border-radius: 4px 0 0 4px;
    border: 1px solid #2A2A2A;
    vertical-align: middle;
}

.subscribe ::placeholder {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(42, 42, 42, 0.7);
    /* vertical-align: middle; */
}

.subscribe a {
    padding: 1.9% 3%;
    border-radius: 0 4px 4px 0;
    border: 1px solid #2A2A2A;
    color: #FFFFFF;
    background-color: #2A2A2A;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    margin-left: -2%;
    vertical-align: middle;
    transition: 0.2s ease;
}

.subscribe a:hover {
    color: #2A2A2A;
    background-color: #FFFFFF;
}

.footer-hamburger-click {
    display: none;
}
/*Footer Ends Here*/


/* Responsive Mobile Starts Here */
@media screen and (max-width: 720px) {
    header {
        margin: 1% 5%;
        justify-content: space-between;
    }
   
    .header-logo {
        width: 15%;
    }

    .nav-icons {
        width: 10%;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }
    
    .header-menus a, .search-input, .header-btn, footer {
        display: none !important;
    }

    .hamburger-icon {
        display: block;
    }

    /* Hamburger Responsive Clicks Start Here*/
    .header-logo.hide {
        display: none;
    }
    .hamburger-menu.visible {
        display: flex;
        flex-direction: column;
        /* margin-left: 8%; */
    }
    .hamburger-menu a {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        color: rgba(42, 42, 42, 1);
        margin-bottom: 10%;
        border-bottom: 1px solid rgba(42, 42, 42, 0.5);
        padding-bottom: 2%;
        width: 45%;
    }

    .close-icon {
        display: block;
        /* margin-left: 400%; */
        /* margin-top: 25%; */
        width: 5%;
        position: absolute;
        top: 3%;
        right: 3%;
        z-index: 1;
    }

    .empty.hide {
        background: rgba(42, 42, 42, 0.6);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .header-footer-click.hide {
        display: block;
        width: 50%;
        height: 150vh;
        position: absolute;
        top: 3;
        right: 0;
        background-color: #FFFFFF;
        padding: 8% 3%;
    }
    
    .close-icon.hide {
        display: none;
    }

    .hamburger-icon.hide {
        display: none;
    }

    .footer-hamburger-click.hide {
        display: block;
        margin-top: 60%;
        background-color: #FFFFFF;
        padding: 0;
    }

    .footer-hamburger-link a:hover {
        background-color: rgba(42, 42, 42, 0.2);
        padding: 1%;
    }

    .footer-hamburger-link a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        color: rgba(42, 42, 42, 1);
        margin-bottom: 10%;
    }

    .footer-hamburger-link img {
        width: 3%;
    }

    .footer-hamburger-click p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(42, 42, 42, 1);
        margin-bottom: 8%;
    }

    .footer-hamburger-click .subscribe {
        width: 100%;
        margin-bottom: 10%;
    }

    .footer-hamburger-click .subscribe input {
        width: 60%;
    }
    
    .footer-hamburger-click .subscribe ::placeholder {
        font-size: 12px;
    }
    
    .footer-hamburger-click .subscribe a {
        font-size: 14px;
    }
    
    .footer-hamburger-click .subscribe a:hover {
        color: rgba(42, 42, 42, 1);
    }

    .footer-hamburger-click .socials {
        width: 30%;
        margin-bottom: 5%;
    }

    .footer-hamburger-click .footer-logo {
        width: 30%;
        margin-bottom: 10%;
    }
    /* Hamburger Responsive Clicks End Here*/
}

    /* Tablets Responsiveness Starts Here*/
@media screen and (max-width: 990px) and (min-width: 721px) {
    .header-logo {
        width: 20%;
    }
    
    nav {
        width: 100%;
        margin: 0 3% 0 10%;
    }

    nav .header-menus {
        display: flex;
        align-items: center;
    }

    nav a {
        font-size: 14px;
        font-weight: 400;
        }
}

.search-input input {
    width: 100%;
}

.search-input ::placeholder {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: rgba(42, 42, 42, 1);
}

.header-btn {
    font-size: 10px;
    padding: 0.1% 2%px;
    border-radius: 4px;
    background: #EE9A09;
    color: #FFFFFF;
    border: none;
    transition: ease 0.3s;
}
    /* Responsive Mobile Ends Here */