@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    align-items: flex-start;
    
}

.left-section {
    width: 50%;
    height: 150vh;
    /* padding: 3%; */
    position: relative;
    /* background-image: url(./img/pics/close-up-food-lover-taking-pictures-meal\ 1.png);
    background-size: cover; */
    /* z-index: -1; */
}

.right-section {
    width: 50%;
    height: 150vh;
    /* padding: 3%; */
    /* position: relative; */
}

.bg-img {
    height: 150vh;
    position: absolute;
    z-index: -1;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    margin: 5%;
}

.nav-link a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.0015em;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.3s;
}

.nav-link a:hover {
    border-bottom: 1px solid rgba(238, 154, 9, 1);
    padding-bottom: 1%;
}

.text-container {
    /* margin-top: 50%; */
}

.left-section h1 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -0.015em;
    color: rgba(238, 154, 9, 1);
    text-align: center;
}


.logo-hero {
    width: 20%;
    margin: 15% auto 2% auto;
}

form {
    padding: 2% 15% 0% 15%;
}

label {
    display: block;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.0015em;
    line-height: 20px;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 3%;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: rgba(212, 212, 212, 1);
    outline: 0;
    margin-bottom: 7%;
    vertical-align: middle;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

.login .login-btn {
    padding: 1% 20%;
    border-radius: 4px;
    background: rgba(238, 154, 9, 1);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    margin: 1% 0;
    transition: ease 0.3s;
}

.login .login-btn:hover {
    background: #FFFFFF;
    color: rgba(238, 154, 9, 1);
    border: 1px solid rgba(238, 154, 9, 1);
}

.login p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    color: rgba(42, 42, 42, 1);
}

.login a {
    font-weight: 500;
    letter-spacing: 0em;
    color: rgba(238, 154, 9, 1);
}

.login-alt a {
    color: rgba(42, 42, 42, 1);
}

.or {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    color: rgba(42, 42, 42, 1);
    margin: 5% 0;
}

.login-alt {
    text-align: center;
}

.login-alt img {
    width: 10%;
    margin: 0 8%;
}

@media screen and (max-width: 860px) {
.nav-link a {
    font-size: 12px;
}
    .left-section h1 {
        font-size: 18px;
    }

    .left-section p {
        font-size: 16px;
    }

    .logo-hero h1 {
        font-size: 24px;
    }

    .login-alt {
        gap: 5%;
    }

    .login-alt a {
        width: 40%;
        font-size: 14px;
        padding: 0;
    }

    .or {
        font-size: 14px;
    }
}

@media screen and (max-width: 560px) {
    .nav-link a {
        font-size: 10px;
    }
    .logo-hero h1 {
        font-size: 14px;
    }

    label, input, .login .login-btn, .or, .login p, a {
        font-size: 10px;
    }

    .login-alt img {
        width: 5%;
}