@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    max-width: 1920px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.recipe-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    margin: 1% 3%;
}

.recipe-hero-img {
    width: 20%;
}

.recipe-hero-txt {
    width: 55%;
}

.recipe-hero-txt h1 {
font-size: 32px;
font-weight: 700;
line-height: 68px;
letter-spacing: 0.0025em;
color: rgba(42, 42, 42, 1);
}

.recipe-meal-select-section {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                linear-gradient(0deg, rgba(43, 43, 43, 0.3), rgba(43, 43, 43, 0.3));
    padding: 1% 3%;
}

.recipe-meal-select {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                linear-gradient(0deg, rgba(43, 43, 43, 0.3), rgba(43, 43, 43, 0.3));

}

.recipe-meal-select select {
    width: 13%;
    padding: 0.5%;
    border-radius: 4px;
    background: rgba(238, 154, 9, 1);
    border: none;
    outline: 0;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.015em;
    color: rgba(42, 42, 42, 1);
}

.recipe-meal-section {
    padding: 3% 3% 1% 3%;
}

.recipe-meal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipe-meal-info {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2%;
}

.recipe-meal-info h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 4px;
    letter-spacing: 0.0015em;
    color: rgba(42, 42, 42, 1);
    margin: 4% 0;
}

.ratings {
    display: flex;
    /* justify-content: space-between; */
}

.ratings img {
    width: 8%;
}

.ratings p {
    font-size: 16px;
    font-weight: 500;
    /* line-height: 4px; */
    letter-spacing: 0.0015em;
    text-align: center;
    color: rgba(42, 42, 42, 1);
    margin-left: 4%;
}

.pages-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin: 6% 0 3% 0;
}

.pages-nav .link-page {
    width: 0.8%;
}

.pages-nav .next {
    width: 2%;
}

.pages-nav .page-num {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90%;
}

.page-num a {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: rgba(42, 42, 42, 1);
}

.page-num .active-page {
    color: rgba(238, 154, 9, 1);
}


@media screen and (max-width: 600px) {
    .recipe-hero-img {
        width: 30%;
    }

    .recipe-hero-txt {
        width: 70%;
    }
    .recipe-hero-txt h1 {
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.15%;
    }

    .recipe-meal {
        width: 130%;
    }

    .recipe-meal-select select {
        width: 15%;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: -0.02em;
    }

    .recipe-meal-section {
        padding: 3% 5% 1% 5%;
    }

    .recipe-meal-info {
        width: 23%;
    }

    .recipe-meal-info h5 {
        font-size: 8px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0em;
    }

    .ratings p {
        font-size: 7px;
        font-weight: 400;
        letter-spacing: 0.0015em;
    }

    .pages-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        margin: 6% 0 3% 0;
    }
    
    .pages-nav .link-page {
        width: 1.5%;
    }
    
    .pages-nav .next {
        width: 3.5%;
    }
    
    .pages-nav .page-num {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90%;
    }
    
    .page-num a {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        color: rgba(42, 42, 42, 1);
    }
    
    .page-num .active-page {
        color: rgba(238, 154, 9, 1);
    }
}

@media screen and (min-width: 601px) and (max-width: 990px) {
    .recipe-hero-txt h1 {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
    }
    
    .recipe-meal-select select {
        width: 18%;
        font-size: 12px;
    }

    .recipe-meal-info {
        width: 24%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2%;
    }
    
    .recipe-meal-info h5 {
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0.0015em;
        color: rgba(42, 42, 42, 1);
        margin: 4% 0;
    }
    
    .ratings p {
        font-size: 10px;
        font-weight: 500;
        /* line-height: 4px; */
        letter-spacing: 0.0015em;
        text-align: center;
        color: rgba(42, 42, 42, 1);
        margin-left: 4%;
    }
    
    .pages-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        margin: 6% 0 3% 0;
    }
    
    .pages-nav .link-page {
        width: 0.7%;
    }
    
    .pages-nav .next {
        width: 1.7%;
    }
    
    .pages-nav .page-num {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90%;
    }
    
    .page-num a {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        color: rgba(42, 42, 42, 1);
    }
    
    .page-num .active-page {
        color: rgba(238, 154, 9, 1);
    }
}