@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.recipe-form-hero, .recipe, .ingredients, .preparation, .tags, .privacy, .upload {
    margin: 1% 3%;
}

.description {
    margin: 1% 0;
}

.recipe-form-hero h1 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.0025em;
    text-align: center;
    color: rgba(42, 42, 42, 1);
}

.recipe-form-hero p, form label {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.0015em;
    text-align: justify;
    color: rgba(42, 42, 42, 1);
}
.recipe-title-link {
    display: flex;
    align-items: center;
    gap: 11%;
    margin: 1% 0;
}

.recipe-containers {
    display: flex;
    align-items: center;
    gap: 17%;
    margin: 1% 0;
}

.prep-cook-time {
    display: flex;
    align-items: center;
    gap: 11%;
    margin: 1% 0;
}

.servings {
    margin-right: 1%;
    width: 9.5%;
}


#difficulty {
    /* width: 300%; */
}

form h3 {
    background: rgba(238, 154, 9, 0.3);
    font-size: 22px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    padding: 0.5% 3%;
    margin: 0.5% 0;
}

form h3 span {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.015em;
    margin-left: 1%;
    vertical-align: middle;
    color: rgba(255, 0, 0, 1);
}

form label {
    display: block;
}

form input {
    width: 150%;
    /* height: 40px; */
    height: ;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(42, 42, 42, 1);
    outline: 0;
    vertical-align: middle;
}

form select {
    width: 250%;
    /* height: 40px; */
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(42, 42, 42, 1);
    outline: 0;
    vertical-align: middle;
}

::placeholder {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.0015em;
}

.qty-unit-ingredients-btn {
    display: flex;
    align-items: center;
    gap: 40%;
}

.qty-unit-ingredients {
    display: flex;
    align-items: center;
    gap: 67%;
    margin: 1% 0;
}

#qty, #select-unit, #your-ingredients {
    width: 1100%;
    margin-right: 10%;
}

.your-ingredients input {
    /* width: 480%; */
}

textarea {
    width: 100%;
    outline: 0;
    padding: 1%;
}

form p {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: middle;
    margin: 1% 0;
    color: rgba(42, 42, 42, 1);
}

.ingredients-container {
    display: flex;
    align-items: center;
    gap: 2%;
}

.radio-us-metric {
    display: flex;
    align-items: center;
    /* gap: 2%; */
    width: 30%;
}

.radio-us, .radio-metric {
    display: flex;
    align-items: center;
    width: 30%;
    /* gap: 2%; */
}

.radio-us input, .radio-metric input {
    width: 20%;
    vertical-align: middle;
}

.tags input {
    width: 250%;
}

.tag {
    display: flex;
    align-items: center;
    gap: 20%;
}

.privacy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-allow-recipe, .radio-keep-recipe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.radio-allow-recipe {
    width: 40%;
}

.radio-keep-recipe {
    width: 60%;
}

.radio-allow-recipe input {
    width: 4%;
}

.radio-keep-recipe input {
    width: 2.5%;
}

.form-btn {
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
    background: rgba(238, 154, 9, 1);
    color: #FFFFFF;
    font-size: 20px;
    vertical-align: middle;
}

.recipe-upload {
    border: 1px dashed rgba(42, 42, 42, 1);
    text-align: center;
    margin: 2% auto;
    padding: 2% 0;
}

.recipe-upload img {
    color: rgba(42, 42, 42, 1);
    width: 8%;
    display: block;
    margin: 0 auto;
}
.recipe-upload p, .recipe-upload a {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(42, 42, 42, 1);
}

.recipe-form-btn-container {
    text-align: center;
    margin: 3% 0;
}

.recipe-form-btn-container .form-btn {
    padding: 0.5% 2%;
    border-radius: 4px;
    border: none;
    background: rgba(238, 154, 9, 1);
    color: #FFFFFF;
    font-size: 20px;
    vertical-align: middle;
    text-transform: uppercase;
}

.note {
    background: #D3D3D3;
    padding: 2% 3%;
    margin-bottom: 1%;
}

.note h5 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 1%;
}

.note p {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.015em;
    text-align: justify;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 1%;
}

    /* Responsiveness starts here */
@media screen and (max-width: 600px) {
    .recipe-form-hero, .recipe, .ingredients, .preparation, .tags, .privacy, .upload {
        margin: 1% 5%;
    }

    .recipe-form-hero h1 {
        font-size: 20px;
    }

    .recipe-form-hero p, form label, section p, .recipe-upload p, .recipe-upload a, .note p {
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
    }

    .recipe-upload a {
        font-weight: 700;
    }


    form h3 {
        font-size: 16px;
        padding: 0 5%;
    }
    form h3 span {
        font-size: 10px;
    }

    form input {
        /* width: 173px;
        height: 20px; */
        width: 90%;
    }

    .recipe-title-link {
        gap: 1%;
    }

    .tags input {
        width: 110%;
    }

    .tag {
        gap: 1%;
    }

    #category {
        width: 120%;
    }

    .servings {
        width: 18%;
    } 

    .privacy {
        flex-direction: column;
        align-items: flex-start;
    }

    .radio-allow-recipe, .radio-keep-recipe {
        width: 100%;
    }

    form select {
        /* width: 173px;
        height: 26px; */
    }

    .form-btn {
        font-size: 14px;
        padding: 13px 15px
    }

    .difficulty, .prep-time, .cook-time, .qty-unit-ingredients-btn, .form-tag-btn {
        display: none;
    }

   ::placeholder {
        font-size: 10px;
    }

    .recipe-containers {
        display: flex;
        align-items: center;
        gap: 13%;
        margin: 1% 0;
    }

    .ingredients-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .ingredients-container p {
        margin-top: 2%;
    }

    .radio-us-metric {
        gap: 5%;
    }

    .radio-us, .radio-metric {
        /* width: 40%; */
    }

    .radio-us input, .radio-metric input {
        width: 43%;
    }

    textarea {
        text-align: center;
        height: 46px;
        padding: 5% 0;
    }

    .radio-allow-recipe input, .radio-keep-recipe input {
        width: 4%;
    }

    .tag {
        gap: 5%;
    }

    form p {
        display: block;
    }

    .recipe-upload {
        padding: 1% 0;
    }

    .recipe-upload p, .recipe-upload a {
        font-size: 12px;
    }

    .recipe-form-btn-container .form-btn {
        padding: 2% 5%;
        border-radius: 4px;
        border: none;
        background: rgba(238, 154, 9, 1);
        color: #FFFFFF;
        font-size: 10px;
        vertical-align: middle;
        text-transform: uppercase;
    }

    .note {
        background-color: unset;
        margin-bottom: 30%;
    }

    .note h5 {
        font-size: 16px;
    }

    .note p {
        font-size: 10px;
    }
}
    /* Responsiveness starts here */