@media screen and (max-width: 600px) {
    .recipe-form-hero, .recipe, .ingredients, .preparation, .tags, .privacy, .upload {
        margin: 1% 5%;
    }

    .recipe-form-hero h1 {
        font-size: 20px;
    }

    .recipe-form-hero p, form label, section p, .recipe-upload p, .recipe-upload a, .note p {
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
    }

    .recipe-upload a {
        font-weight: 700;
    }


    form h3 {
        font-size: 16px;
        padding: 0 5%;
    }
    form h3 span {
        font-size: 10px;
    }

    form input {
        width: 173px;
        height: 20px;
    }

    .tags input {
        width: 110%;
    }

    .tag {
        gap: 1%;
    }

    .privacy {
        flex-direction: column;
        align-items: flex-start;
    }

    .radio-allow-recipe, .radio-keep-recipe {
        width: 100%;
    }

    form select {
        width: 173px;
        height: 26px;
    }

    .form-btn {
        font-size: 10px;
        padding: 6px 15px
    }

    .difficulty, .prep-time, .cook-time, .qty-unit-ingredients-btn, .form-tag-btn {
        display: none;
    }

   ::placeholder {
        font-size: 10px;
    }

    .ingredients-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .ingredients-container p, {
        margin-top: 2%;
    }

    .radio-us-metric {
        gap: 5%;
    }

    .radio-us, .radio-metric {
        width: 40%;
    }

    .radio-us input, .radio-metric input {
        width: 20%;
    }

    textarea {
        text-align: center;
        height: 46px;
        padding: 5% 0;
    }

    form p {
        display: block;
    }

    .recipe-upload {
        padding: 1% 0;
    }

    .recipe-upload p, .recipe-upload a {
        font-size: 12px;
    }

    .recipe-form-btn-container .form-btn {
        padding: 2% 5%;
        border-radius: 4px;
        border: none;
        background: rgba(238, 154, 9, 1);
        color: #FFFFFF;
        font-size: 10px;
        vertical-align: middle;
        text-transform: uppercase;
    }

    .note {
        background-color: unset;
        margin-bottom: 30%;
    }

    .note h5 {
        font-size: 16px;
    }

    .note p {
        font-size: 10px;
    }
    /* Hamburger Responsive Clicks End Here*/
}