@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{ padding:0%;
    box-sizing: border-box;
    margin : 0%;
}
img{
    /* width: 100%; */
}

a{
    text-decoration: none;
}

/* Header Starts Here*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 5% 2% 5%;
}

.logo {
    width: 10%;
}

.logo img{
    width: 100%;
}

nav {
    width: 50%;
}

nav .header-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon, .close-icon {
    display: none;
    cursor: pointer;
}

nav a {
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.0015em;
text-align: left;
color: rgba(42, 42, 42, 1);
text-transform: uppercase;
}

nav .active {
    color: #EE9A09;
}

.search-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding: 8px 20px;
    border: 1px solid #EE9A09CC;
    border-radius: 4px;
}

.search-input img {
    width: 10%;
    cursor: pointer;
}

.search-input input {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    border: none;
    outline: 0;
    width: 80%;
    /* padding: 1% 3%; */
}

header button {
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 4px;
    background: #EE9A09;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
/* Header Ends Here*/


.Recipe-listing-hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 2px solid #155eef;
    border-radius: 8px;
    /* padding: 64px 32px; */
    margin: 0% 3%;  
}  
.Hero-image{
    width: 85%
}

.Hero-section-writeup{
    font-family: Lato;
    font-size: 48px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0.0025em;
    text-align: left;
    color:#2A2A2A;
    width: 35%;
}

.Recipe-listing-input-field{
    display: flex;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.3);
    box-sizing: border-box;
    border: 1px solid #24181833;
    border-radius: 8px;
    color: #2A2A2A;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -0.02em;

}
.option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: 2px solid #155eef;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 90%;
    gap: 10%;
    /* padding: 0% 5%; */
    margin: 0.5% 3%;
}

.Recipe-list-select select{
    width: 100%;
    height: 41px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #24181833;
    background:#EE9A09;

    


}

.Recipe-images-line1{
    display: flex;
    box-sizing: border-box;
    border: 2px solid #155eef;
    border-radius: 8px;
    margin: 0.5% 3%;
    align-items: center;
    justify-content: space-between;
    /* gap: 5%; */
    /* padding-left: 5%; */
    /* padding-right: 5%; */
    padding-top: 5%;

}
.Recipe-images-line1 div{
    width: 40%;
    /* padding: 80px 90px; */
}


.Recipe-images-line2{
    display: flex;
    box-sizing: border-box;
    border: 2px solid #155eef;
    border-radius: 8px;
    margin: 0.5% 3%;
    align-items: center;
    gap: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;

}
.Recipe-images-line3{
    display: flex;
    box-sizing: border-box;
    border: 2px solid #155eef;
    border-radius: 8px;
    margin: 0.5% 3%;
    align-items: center;
    gap: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;

}
.Recipe-images-line4{
    display: flex;
    box-sizing: border-box;
    border: 2px solid #155eef;
    border-radius: 8px;
    margin: 0.5% 3%;
    align-items: center;
    gap: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;

}
.Recipe-images-line5{
    display: flex;
    box-sizing: border-box;
    border: 2px solid #155eef;
    border-radius: 8px;
    margin: 0.5% 3%;
    align-items: center;
    gap: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;

}
.Recipe-images-line6{
    display: flex;
    box-sizing: border-box;
    border: 2px solid #155eef;
    border-radius: 8px;
    margin: 0.5% 3%;
    align-items: center;
    gap: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;

}

/*Footer starts Here*/
footer {
    display: flex;
    justify-content: space-between;
    background: #D3D3D3;
    padding: 3% 5%;
}

.logo-socials {
    width: 40%;
}

footer .logo {
    width: 45%;
    margin-bottom: 7%;
}

footer img{
    width: 100%;
}

.socials {
    width: 10%;
    display: flex;
    gap: 15%;
}

.footer-nav {
    display: flex;
    width: 85%;
}
.footer-links {
    width: 40%;
}

.footer-links h3 {
    font-size: 34px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 3%;
}

.footer-links a {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.0015em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 2%;
}

.footer-menus {
    display: flex;
    flex-direction: column;
}

.subscribe {
    width: 50%;
}

.subscribe p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.0015em;
    text-align: justify;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 5%;
}

.subscribe input {
    /* width: 48%; */
    padding: 12px 20px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #2A2A2A;
}

.subscribe ::placeholder {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(42, 42, 42, 1);
}

.subscribe a button {
padding: 9px 20px 12px 20px;
border-radius: 0px 4px 4px 0px;
border: 1px solid #2A2A2A;
color: #FFFFFF;
background-color: #2A2A2A;
font-size: 20px;
font-weight: 500;
line-height: 17px;
letter-spacing: -0.02em;
text-align: center;
margin-left: -1%;
}
/*Footer Ends Here*/
