@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* Header Starts Here*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 5% 2% 5%;
}

.logo {
    width: 10%;
    cursor: pointer;
}

nav {
    width: 50%;
}

nav .header-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon, .close-icon {
    display: none;
    cursor: pointer;
}

nav a {
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.0015em;
text-align: left;
color: rgba(42, 42, 42, 1);
text-transform: uppercase;
transition: ease 0.3s;
}

nav a:hover {
    color: #EE9A09
}

.active {
    color: #EE9A09;
    transition: 0.3s ease;
}

.active:hover {
    border-top: 1px solid #EE9A09;
    border-bottom: 1px solid #EE9A09;
    padding-bottom: 2%;
    padding-top: 2%;
}

.search-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding: 1%;
    border: 1px solid #EE9A09CC;
    border-radius: 4px;
}

.search-input img {
    width: 6%;
    margin-right: 1%;
    cursor: pointer;
}

.search-input input {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    border: none;
    outline: 0;
    width: 80%;
}

.header-btn {
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 4px;
    background: #EE9A09;
    color: #FFFFFF;
    border: none;
    transition: ease 0.3s;
}

.header-btn:hover {
    background: #FFFFFF;
    color: #EE9A09;
    border: 1px solid #EE9A09;
}
/* Header Ends Here*/

.recipe-form-hero, .recipe, .ingredients, .preparation, .tag, .privacy, .upload {
    margin: 1% 5%;
}

.recipe-form-hero h1 {
font-size: 48px;
font-weight: 500;
line-height: 68px;
letter-spacing: 0.0025em;
text-align: center;
color: rgba(42, 42, 42, 1);
}

.recipe-form-hero p, form label {
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.0015em;
    text-align: justified;
    color: rgba(42, 42, 42, 1);
}

.recipe-form-hero p {
    margin: 2% 0;
}

form h3 {
    background: rgba(238, 154, 9, 0.3);
    font-size: 28px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    padding: 1% 5%;
    margin: 0.5% 0;
}

form h3 span {
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.015em;
    margin-left: 1%;
    vertical-align: middle;
    color: rgba(255, 0, 0, 1);
}

form label {
    display: block;
}

form input, form select {
    width: 320px;
    height: 40px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(42, 42, 42, 1);
    outline: 0;
    vertical-align: middle;
}

::placeholder {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.0015em;
    text-align: left;

}

.recipe-title, .recipe-link {
    display: inline-block;
    margin: 1% 10% 2% 0;
}

.category, .servings, .difficulty, .prep-time, .cook-time, .qty, .unit, .your-ingredients, .tags {
    display: inline-block;
}

.qty, .unit {
    margin: 2% 2.5% 2% 0;
    vertical-align: middle;
}

.your-ingredients, .tags {
    margin: 2% 0.5% 2% 0;
    vertical-align: middle;
}

.category, .servings, .prep-time, .cook-time {
    margin-right: 9%;
}

.description, .category, .servings, .difficulty, .prep-time, .cook-time {
    margin-bottom: 2%;
}

textarea {
    width: 100%;
    outline: 0;
}
.prep-instruction {
    margin: 2% 0;
}

form p {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin: 1% 0;
    color: rgba(42, 42, 42, 1);
}

.radio-us, .radio-metric {
    display: inline-block;
    margin: 0 1%;
    width: 10%;
}

.radio-metric {
    margin-right: 20%;
}

.radio-us label, .radio-metric label {
    display: inline-block;
    vertical-align: middle;
}

.radio-us input, .radio-metric input {
    width: 20%;
    vertical-align: middle;
    border: 1px solid #EE9A09;
}

.your-ingredients input, .tags input {
    width: 440px;
}

.radio-allow-recipe {
        display: inline;
        margin-right: 5%;
}

.radio-keep-recipe {
    display: inline;
}

.radio-allow-recipe label, .radio-keep-recipe label {
    display: inline;
    vertical-align: middle;
}
.radio-allow-recipe input, .radio-keep-recipe input {
    vertical-align: middle;
    width: 2%;
    border: 1.5px solid rgba(238, 154, 9, 1);
}

.form-btn {
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
    background: #EE9A09;
    color: #FFFFFF;
    font-size: 22px;
    vertical-align: middle;
}

.recipe-upload {
    border: 1px dashed rgba(42, 42, 42, 1);
    text-align: center;
    margin: 2% 0;
    padding: 2% 0;
}

.recipe-upload img {
    color: rgba(42, 42, 42, 1);
    width: 8%;
    display: block;
    margin: 0 auto;
}
.recipe-upload p, .recipe-upload a {
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(42, 42, 42, 1);
}

.recipe-form-btn-container {
    text-align: center;
}

.note {
    background: #D3D3D3;
    padding: 3% 5%;
}

.note {
    margin-bottom: 2%;
}

.note h5 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 1%;
}

.note p {
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.015em;
    text-align: justify;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 1%;
}

/*Footer starts Here*/
footer {
    display: flex;
    justify-content: space-between;
    background: #D3D3D3;
    padding: 3% 5%;
}

.logo-socials {
    width: 40%;
}

footer .logo {
    width: 45%;
    margin-bottom: 10%;
}

.socials {
    width: 45%;
    display: flex;
    gap: 5%;
}

.footer-nav {
    display: flex;
    width: 85%;
}
.footer-links {
    width: 40%;
}

.footer-links h3 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.0025em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 10%;
}

.footer-links a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.0015em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 7%;
}

.footer-menus {
    display: flex;
    flex-direction: column;
}

.subscribe {
    width: 50%;
}

.subscribe p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.0015em;
    text-align: justify;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 7%;
}

.subscribe input {
    padding: 2% 5%;
    border-radius: 4px 0 0 4px;
    border: 1px solid #2A2A2A;
}

.subscribe ::placeholder {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(42, 42, 42, 0.7);
    vertical-align: middle;
}

.subscribe a {
    padding: 1.5% 5%;
    border-radius: 0 4px 4px 0;
    border: none;
    color: #FFFFFF;
    background-color: #2A2A2A;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    margin-left: -3%;
    vertical-align: middle;
    transition: 0.2s ease;
}

.subscribe a:hover {
    color: #2A2A2A;
    background-color: #FFFFFF;
    border: 1px solid #2A2A2A;
}
/*Footer Ends Here*/