@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    height: 100%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    align-items: flex-start;
    
}

.left-section {
    width: 50%;
    height: 100vh;
    /* padding: 3%; */
    position: relative;
    /* background-image: url(./img/pics/close-up-food-lover-taking-pictures-meal\ 2.png);
    background-size: cover; */
}

.right-section {
    width: 50%;
    height: 100vh;
    /* padding: 3%; */
    position: relative;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    margin: 5%;
}

.nav-link a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.0015em;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.3s;
}

.nav-link a:hover {
    border-bottom: 1px solid rgba(238, 154, 9, 1);
    padding-bottom: 1%;
}

.bg-img {
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.text-container {
    margin-top: 50%;
}

.left-section h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.015em;
    color: rgba(238, 154, 9, 1);
    text-align: center;
}


.logo-hero {
    width: 20%;
    margin: 3% auto 2% auto;
}

form {
    padding: 2% 15% 0% 15%;
}

label {
    display: block;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.0015em;
    line-height: 20px;
    color: rgba(42, 42, 42, 1);
    margin-bottom: 3%;
}

input {
    width: 100%;
    padding: 2%;
    border-radius: 4px;
    border: none;
    background: rgba(212, 212, 212, 1);
    outline: 0;
    margin-bottom: 7%;
    vertical-align: middle;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.sign-up .sign-up-btn {
    padding: 1% 20%;
    border-radius: 4px;
    background: rgba(238, 154, 9, 1);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    margin: 2% 0;
    transition: ease 0.3s;
}

.sign-up .sign-up-btn:hover {
    background: #FFFFFF;
    color: rgba(238, 154, 9, 1);
    border: 1px solid rgba(238, 154, 9, 1);
}

.sign-up p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    color: rgba(42, 42, 42, 1);
}

.sign-up a {
    font-weight: 500;
    letter-spacing: 0em;
    color: rgba(238, 154, 9, 1);
}

.sign-up-alt a {
    color: rgba(42, 42, 42, 1);
}

.or {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    color: rgba(42, 42, 42, 1);
    margin: 4% 0;
}

.sign-up-alt {
    text-align: center;
}

.sign-up-alt a img {
    width: 10%;
    margin: 0 8%;
}

@media screen and (max-width: 860px) {
.left-section h1 {
    font-size: 20px;
    line-height: 18px;
}

.sign--alt {
    gap: 5%;
}

.sign--alt a {
    width: 40%;
    font-size: 16px;
    padding: 0;
}

.nav-link a {
    font-size: 12px;
}
.left-section h1 {
    font-size: 18px;
}

label, input, .sign-up .sign-up-btn, .or, .sign-up p, a {
    font-size: 14px;
}

label {
    margin-bottom: 1%;
}

input {
    margin-bottom: 2%;
}

/* .or {
    margin: 2% 0;
} */

}

.sign-up-alt a img {
    width: 8%;
}

@media screen and (max-width: 560px) {
    .nav-link a {
        font-size: 10px;
    }

    .left-section h1 {
        font-size: 14px;
        line-height: 18px;
    }

    .logo-hero {
        width: 15%;
        margin: 2% auto 0% auto;
    }

    form {
        padding: 2% 10% 0% 10%;
    }

    label, input, .sign-up .sign-up-btn, .or, .sign-up p, a {
        font-size: 10px;
    }

    label {
        margin-bottom: 0;
    }
    
    input {
        margin-bottom: 2%;
    }
    
    .or {
        margin: 2% 0;
    }

    .sign-up-alt img {
        width: 5%;
    }
}