@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body{
  margin: 0;  
  padding: 0;
  font-family: 'Inconsolata', monospace;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
}

img {
  width: 100%;
}

.discover{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: relative;
  margin: 0 3% 0 3%;
}

.discover_img{
  position: relative;
display: flex;
}

.ellipse {
  width: 20%;
  position: absolute;
  top: 15%;
  left: -3%;
  z-index: -1;
}

div > .chef{
  justify-content: end;
  width: 100%;
}

.chef {
  justify-content: end;
  width: 60%;
}

.discover_text > p {
 font-size: 40px;
 font-weight: 700;
 margin-left: -38%;
 letter-spacing: -0.9%;
 font-family: 'Inconsolata', monospace;
 font-family: 'Lato', sans-serif;
}

      /* top recipes */
.top_recipes {
  margin: 0 3% 0 3%;
}
.top_recipes_text > h3 {
    font-size: 32px;
    color: #2A2A2A;
    font-weight: 700;
    letter-spacing: 0.25%;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
}


.food_img {
  width: 31%;
  border-radius: 10px;
}
.mid {
  margin: 0 3%;
}

      /* Your Recipes  */
.your_recipes {
  margin: 0 3% 0 3%;
}   

.your_recipes_text{
  display: flex;
  justify-content: space-between;
  margin-bottom: -2%;
}
.your_recipes_text > h3{
  font-size: 32px;
}

.your_recipes_text > p{
  font-size: 16px;
  margin-bottom: -10%;
  padding-top: 2%;
  color: #EE9A09;
  cursor: pointer;
}

                /* New Recipes Section */
.new_recipes{
  margin: 0 3% 0 3%;
}                

.new_recipes_text{
  display: flex;
  justify-content: space-between;
  margin-bottom: -2%;
}
.new_recipes_text > h3{
  font-size: 32px;
}

.new_recipes_text > p{
  font-size: 16px;
  margin-bottom: -10%;
  padding-top: 2%;
  color: #EE9A09;
  cursor: pointer;
}
.new_recipe_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
  box-sizing: border-box;
}


.new_recipe_img > div {
  width: 40%;
}
.dish_name{
  margin-bottom: -1%;
}
.new_food_img {
  width: 100%;
}

.star_img {
  width: 25%;
  margin: -10% 0 -3% 0;
}
               /* Testimonials */
.testimonials{
  margin: 3% 3% 0 3%;
  display: flex;
}

.tes_h3{
  font-size: 32px;
  margin: 3% 3% 0 5%;
}

.jimmy, .evelyn, .blessing {
  width: 40%;
}

.flext {
  display: flex;
}

.jimmy_about, .evelyn_about, .blessing_about {
  margin-left: 3%;
  margin-top: -3%;
}

.testimony_text  {
  width: 80%;
  line-height: 1.2rem;
  font-weight: 500;
}

.jimmy_about > h3,
.evelyn_about > h3,
.blessing_about > h3 {
  margin-top: -10%;
  font-weight: 500;
}



                        /* Download Section */
.download {
  margin: 3% 3% 2% 3%;
  display: flex;
}

.downlod_text{
  padding-top: 8%;
}

.downlod_text > h2 {
  font-size: 32px;
  padding-bottom: 3%;
  letter-spacing: 0.2%;
}

.downlod_text > p {
  margin-top: -8%;
  color: #2A2A2A;
}

.downlod_text > img {
  width: 200px;
}

.download_img {
  margin-left: 40%;
}
.download_img > img {
  width: 250px;
}

                      /* Media Queries */

@media  screen and (max-width:748px) {
.bar {
display: flex;
}
}


@media screen and (min-width: 461px) and (max-width: 960px)  {
  .discover, 
  .testimonials, 
  .download,
  .tes_h3 {
    display: none;
      }
}


  @media  screen and (max-width:460px) {
    .discover, 
    .testimonials, 
    .download,
    .tes_h3 {
      display: none;
        }

    .discover_text > p {
      font-size: 15%;
    }    

    h3 {
      font-size: 5%;
    }

    }
