@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:wght@700&display=swap')

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inconsolata', monospace;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.discover{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: relative;
  margin: 0 3% 0 5%;
}

.discover_img{
  position: relative;
display: flex;
}

.ellipse {
  width: 20%;
  position: absolute;
  top: 15%;
}

div > .chef{
  justify-content: end;
  width: 100%;
}

.chef {
  justify-content: end;
  width: 60%;
}

.discover_text > p {
 font-size: 40px;
 font-weight: 700;
 line-height: 60px;
 margin-left: -10%;
 letter-spacing: -0.9%;
 font-family: 'Inconsolata', monospace;
 font-family: 'Lato', sans-serif;
}

      /* top recipes */
.top_recipes {
  margin: 0 3% 0 5%;
}
.top_recipes_text > p {
    font-size: 38px;
    color: #2A2A2A;
    font-weight: 700;
    letter-spacing: 0.25%;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
}


.food_img {
  width: 31%;
  border-radius: 10px;
}
.mid {
  margin: 0 3%;
}

      /* Your Recipes  */
.your_recipes {
  margin: 0 3% 0 5%;
}   

.your_recipes_text{
  display: flex;
  margin-bottom: -2%;
}
.your_recipes_text > h3{
  font-size: 38px;
}

.your_recipes_text > p{
  font-size: 20px;
  margin-left: 75%;
  margin-bottom: -10%;
  padding-top: 2%;
  justify-content: flex-end;
  color: #EE9A09;
  ;
}

                /* New Recipes Section */
.new_recipes{
  margin: 0 3% 0 5%;
}                

.new_recipes_text{
  display: flex;
  margin-bottom: -2%;
}
.new_recipes_text > h3{
  font-size: 38px;
}

.new_recipes_text > p{
  font-size: 20px;
  margin-left: 75%;
  margin-bottom: -10%;
  padding-top: 2%;
  justify-content: flex-end;
  color: #EE9A09;
  ;
}
.new_recipe_img {
  display: flex;
  box-sizing: border-box;
}
.new_recipe_img > div {
  width: 40%;
}
.new_food_img {
  width: 90%;
}
.new_mid {
  margin: 0 3%;
}

.star_img {
  width: 25%;
}
               /* Testimonials */
.testimonials{
  margin: 2% 3% 0 5%;
  display: flex;
}

.tes_h3{
  font-size: 38px;
  margin: 3% 3% 0 5%;
}

.jimmy, .evelyn, .blessing {
  width: 40%;
  box-shadow: 5px;
}

.flext {
  display: flex;
}

.jimmy_about, .evelyn_about, .blessing_about {
  margin-left: 3%;
  margin-top: -3%;
}

.testimony_text {
  width: 
  80%;
}

.jimmy_about > p,
.evelyn_about > p,
.blessing_about > p {
  margin-top: -8%;
}



                        /* Download Section */
.download {
  margin: 3% 3% 2% 5%;
  display: flex;
}

.downlod_text{
  padding-top: 8%;
}

.downlod_text > h2 {
  font-size: 45px;
  letter-spacing: 0.2%;
}

.downlod_text > p {
  margin-top: -8%;
  color: #2A2A2A;
}

.downlod_text > img {
  width: 200px;
}

.download_img {
  margin-left: 40%;
}
.download_img > img {
  width: 250px;
}

                      /* Media Queries */

@media  screen and (max-width:748px) {
.bar {
display: flex;
}
}


@media screen and (min-width: 461px) and (max-width: 960px)  {
  .discover, 
  .testimonials, 
  .download,
  .tes_h3 {
    display: none;
      }
}


  @media  screen and (max-width:460px) {
    .discover, 
    .testimonials, 
    .download,
    .tes_h3 {
      display: none;
        }
    }
